{% extends "base.html" %}
{% load static %}


{% block content %}

<div class="container my-5">
    <div class="row text-center">
        <div class="col">
            <h3>Are you sure you want to delete your account?</h3>
            <form method="post" action='{% url "students:delete_account" pk=request.user.id %}'>
                {% csrf_token %}
                <input type="submit" class="btn btn-md btn-danger" value="Yes, delete account">
            </form>
            <!--<a class = 'btn btn-md btn-danger' href = '{% url "students:logout" %}'>Yes, delete account</a><br>-->
        </div>
    </div>
</div>

{% endblock %}