{% extends "base.html" %}
{% load static %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container">
            <form action="" method="post">{% csrf_token %}

                {% if next_url %}
                    <input type='hidden' name='next' value='{{ next_url }}' />
                 {% endif %}

                <div class="form-row mr-auto my-3">
                    <div class="form-group col-md-6 mb-0">
                        {{ register_form.first_name|as_crispy_field }}
                      </div>
                      <div class="form-group col-md-6 mb-0">
                        {{ register_form.last_name|as_crispy_field }}
                      </div>
                </div>
                        {{ register_form.username|as_crispy_field }}
                        {{ register_form.email|as_crispy_field }}
                <div class="form-row">
                      <div class="form-group col-md-6 mb-0">
                        {{ register_form.password1|as_crispy_field }}
                      </div>
                      <div class="form-group col-md-4 mb-0">
                        {{ register_form.password2|as_crispy_field }}
                      </div>
                </div>
                <input type="submit" class="btn btn-default" value="Submit">
            </form>
</div>

{% endblock %}
