{% extends "base.html" %}
{% load static %}


{% block content %}

<section id="hero">
    <div class="hero-container">
      <h1>&lt;Hello World/&gt;</h1>
      <h2>Your first step in learning coding</h2>
    </div>
  </section><!-- #hero -->


<div class="container">
    <div class="row">
        <div class="col my-2 text-center">
            <a class="nav-link" href="#"><h4 class="about-this-website"> &lt;About this Webpage&gt; </h4></a>
        </div>
    </div>
</div>


<div class="container">

    <div class="card text-center">
      <div class="card-body about-this-website-content">
        <h3 class="card-title">Disclaimer</h3>
        <p class="card-text">This website is a personal project, not a real eLearning platform</p>
      </div>
    </div>

</div>



<div class="container my-4">
    <div class="card text-center">
      <div class="card-header">
        <h3>Powered by</h3>
      </div>
      <div class="card-body">
          <div class="row">
              <div class="col-xs-3 mx-auto">
                      <img class="rounded mb-3 mb-md-0 rss-img" src="https://shafinelearning.s3-us-west-1.amazonaws.com/media/rss/django.png" alt="responsive">
              </div>
              <div class="col-xs-3 mx-auto">
                     <img class="rounded mb-3 mb-md-0 rss-img" src="https://shafinelearning.s3-us-west-1.amazonaws.com/media/rss/django_rest_framework.jpg" alt="responsive">
              </div>
              <div class="col-xs-3 mx-auto">
                  <img class="rounded mb-3 mb-md-0 rss-img" src="https://shafinelearning.s3-us-west-1.amazonaws.com/media/rss/postgre.png" alt="responsive">
              </div>
              <div class="col-xs-3 mx-auto">
                  <img class="rounded mb-3 mb-md-0 rss-img" src="https://shafinelearning.s3-us-west-1.amazonaws.com/media/rss/stripe.png" alt="responsive">
              </div>
          </div>

          <div class="row my-5">
              <div class="col-xs-3 mx-auto">
                  <img class="rounded mb-3 mb-md-0 rss-img" src="https://shafinelearning.s3-us-west-1.amazonaws.com/media/rss/bootstrap_2.jpg" alt="responsive">
              </div>
              <div class="col-xs-3 mx-auto">
                  <img class="rounded mb-3 mb-md-0 rss-img" src="https://shafinelearning.s3-us-west-1.amazonaws.com/media/rss/javascript_jquery.jpg" alt="responsive">
              </div>
              <div class="col-xs-3 mx-auto">
                  <img class="rounded mb-3 mb-md-0 rss-img" src="https://shafinelearning.s3-us-west-1.amazonaws.com/media/rss/heroku-logo.png" alt="responsive">
              </div>
              <div class="col-xs-3 mx-auto">
                  <img class="rounded mb-3 mb-md-0 rss-img" src="https://shafinelearning.s3-us-west-1.amazonaws.com/media/rss/amazon_s3.jpg" alt="responsive">
              </div>
          </div>

      </div>
    </div>


</div>


{% endblock %}